{% extends 'layout/base.html' %}
{% load static i18n %}

{% block content %}
    <!-- Page Title start -->
    <div class="pageTitle">
        <div class="container page-container">
{#            <h1 class="page-heading" style="">{% translate 'Страны' %}</h1>#}
        </div>
        <div class="page-img ibg">
            <img src="{{ header.image.url }}" alt="">
        </div>
        <div class="overlay"></div>
    </div>
    <!-- Page Title End -->

    <div class="innercms">
        <div class="container">

            <!-- Blog start -->
            <div class="row blogList custom-row">
                {% for card in cards %}
                    <div class="col-lg-4 col-md-4 col-sm-6 custom-card">
                        <div class="card post-header">
                            <img src="{{ card.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="">{{ card.title }}</a>
                                </h4>
                                <p class="card-text">{{ card.content }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
