{% extends 'layout/base.html' %}
{% load i18n poll_extras %}
{% block content %}
    <div class="pageTitle">
        <div class="container page-container">
            {#            <h1 class="page-heading" style="">{% translate 'Страны' %}</h1>#}
        </div>
        <div class="page-img ibg">
            <img src="{{ header.image.url }}" alt="">
        </div>
        <div class="overlay"></div>
    </div>

    <div class="innercms">
        <div class="container">

            <!-- Blog start -->
            <div class="row">
                <div class="col-md-8">
                    <!-- Blog List start -->
                    <div class="blogWraper">
                        <ul class="blogList">
                            {% for hotel in hotels %}
                                <li>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="postimg"><img src="{{ hotel.image.url }}"
                                                                      alt="Tour Image {{ forloop.counter }}"></div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="post-header">
                                                <h4><a>{{ hotel.title }}</a></h4>
                                                <div class="postmeta">
                                                    <span>{{ hotel.to }} </span>
                                                </div>
                                                <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                    2 {% translate 'Ночи' %} {{ hotel.people_count }}
                                                </div>
                                            </div>
                                            <p>{{ hotel.address }}</p>
                                            <a class="readmore"
                                               href="">{% translate 'Перейти' %}<i
                                                    class="fa fa-caret-right"
                                                    aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Pagination -->
                    <div class="pagiWrap">
                        <nav aria-label="Page navigation" class="pagiwrap">
                            <ul class="pagination justify-content-center">

                                {% for page in  page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a
                                            class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Side Bar -->
                    <div class="sidebar">
                        <!-- Search -->
                        <div class="widget">
                            <h5 class="widget-title">{% translate 'Найти' %}</h5>
                            <div class="search">
                                <form method="get">
                                    <input type="text" class="form-control" placeholder="Найти" name="search"
                                           value="{% if search %}{{ search }}{% endif %}">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categories -->

                        <div class="widget">

                            <h5 class="widget-title">{% translate 'Найти по городу' %}</h5>

                            <ul class="categories">
                                {% for city in hotel_to %}
                                    <li><a href="{% url 'tour-list' %}?to={{ city.id }}">{{ city.title }}</a></li>
                                {% endfor %}
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}