{% extends 'layout/base.html' %}
{% load i18n poll_extras static %}
{% block content %}
    <!-- Home Section -->
    {#    <div class="banner mainblock">#}
    {#        <div class="banner-owl">#}
    {#            {% for slider in sliders %}#}
    {#                <div class="ibg mainblock banner-owl__image">#}
    {#                    <img src="{{ slider.image.url }}" alt="">#}
    {#                    <div class="overlay"></div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    </div>#}
    {##}
    <div class="main ">
        <div class="container main-body">
            <div class="main-body-content">
                <div class="bformBox" style="margin-top: 100px">
                    <ul class="tabs">
                        <li class="tab active" data-tab-target="#form1" >
                            <div class="tab-img">
                                <img src="{% static 'images/tourpackets.svg' %}" alt="">
                            </div>
                            <span>
                                {% translate 'Турпакеты' %}
                            </span>
                        </li>
                        <li class="tab" data-tab-target="#form2" >
                            <div class="tab-img">
                                <img src="{% static 'images/hotel.svg' %}" alt="">
                            </div>
                            <span>{% translate 'Отели' %}</span>
                        </li>
                        <li class="tab" >
                            <div class="tab-img">
                                <img src="{% static 'images/aviabilet.svg' %}" alt="">
                            </div>
                            <span>  {% translate 'Авиабилеты' %}</span>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="form1" class="active" data-tab-content>
                            <form class="form-container" action="{% url 'tour-list' %}" id="contact-form" method="get">
                                <div class="form-container-body">
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label" for="select">{% translate 'Откуда' %}</label>
                                        <select class="form-input__item form-input__select" data-live-search="true"
                                                name="from"
                                                id="select"
                                                required="required" style="width: 150px;">
                                            {% for city in from %}
                                                <option value="{{ city.id }}">{{ city.country }}, {{ city }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label"
                                               for="select1">{% translate 'Направление' %}</label>
                                        <select class="form-input__item form-input__select" data-live-search="true"
                                                name="to"
                                                id="select1"
                                                required="required"  style="width: 150px;">
                                            {% for city in to %}
                                                <option value="{{ city.id }}">{{ city.country }}, {{ city }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label"
                                               for="end_date">{% translate 'Даты' %}</label>
                                         <input id="litepicker" readonly class="form-input__item form-input__date form-input__item_icon" name="dates"  style="width: 150px;">
{#                                        <input type="date" class="form-input__item form-input__date" id="end-date"#}
{#                                               name="end_date" >#}
                                    </div>
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label"
                                               for="end_date">{% translate 'Туристы' %}</label>
                                        <select class="form-input__item form-input__select" data-live-search="true"
                                                name="tourists"
                                                id="select"
                                                required="required"  style="width: 150px;">

                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>

                                        </select>
                                    </div>
                                    <div class="form-container-body-item form-input form-container-body-item_tourist">
                                        <label class="form-input__label"
                                               for="select3">{% translate 'Трансфер' %}</label>
                                        <select class="form-input__item form-input__select" name="transfer"
                                                id="select3" >
                                            <option value="group">{% translate 'Групповой' %}</option>
                                            <option value="individual">{% translate 'Индивидуальный' %}</option>
                                        </select>
                                    </div>
                                    {#                                <div class="form-container-body-item form-input form-input_group">#}
                                    {#                                    <label class="form-input__label" for="select2">{% translate 'Авиалинии' %}</label>#}
                                    {#                                    <select class="form-input__item form-input__select" name="airline" id="select2">#}
                                    {#                                        {% for airline in airlines %}#}
                                    {#                                            <option value="{{ airline.id }}">{{ airline }}</option>#}
                                    {#                                        {% endfor %}#}
                                    {#                                    </select>#}
                                    {#                                </div>#}
                                    <div class="form-container-body-item form-input form-input_btn">
                                        <button class="form-input__button btn btn_blue"><i
                                                class="fa fa-search"></i> {% translate 'Поиск' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="form2" data-tab-content>
                            <form class="form-container" action="{% url 'hotel-list' %}" id="contact-form" method="get">
                                <div class="form-container-body">
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label" for="select3">{% translate 'Город' %}</label>
                                        <select class="form-input__item form-input__select" name="to" id="select3" style="width: 150px;">
                                            {% for to_hotel in to_hotels %}
                                                <option value="{{ to_hotel.id }}">{{ to_hotel }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label"
                                               for="date2">{% translate 'Дата начала' %}</label>
                                        <input type="date" class="form-input__item form-input__date" name="start_date" style="width: 150px;"
                                               id="date2">
                                    </div>
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label"
                                               for="date2">{% translate 'Дата конца' %}</label>
                                        <input type="date" class="form-input__item form-input__date" name="end_date" style="width: 150px;"
                                               id="date2">
                                    </div>
                                    <div class="form-container-body-item form-input">
                                        <label class="form-input__label" for="select4">{% translate 'Туристы' %}</label>
                                        <select class="form-input__item form-input__select" name="people_count" style="width: 150px;"
                                                id="select3">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="form-container-body-item form-input">
                                        <button class="form-input__button btn btn_blue">
                                            <i class="fa fa-search"></i>  {% translate 'Поиск' %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    {#                <form id="contact-form" action="{% url 'tour-list' %}" method="get">#}
                    {#                    <div class="row contact-form__row">#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil1">{% translate 'Откуда' %}</label>#}
                    {#                <select class="form-control" data-live-search="true" name="from" id="change_id_halil1"#}
                    {#                        required="required">#}
                    {#                    {% for city in from %}#}
                    {#                        <option value="{{ city.id }}">{{ city.country }}, {{ city }}</option>#}
                    {#                    {% endfor %}#}
                    {#                </select>#}
                    {##}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil2">{% translate 'Куда' %}</label>#}
                    {#                                <select class="form-control" data-live-search="true" name="to" id="change_id_halil2"#}
                    {#                                        required="required">#}
                    {#                                    {% for city in to %}#}
                    {#                                        <option value="{{ city.id }}">{{ city.country }}, {{ city }}</option>#}
                    {#                                    {% endfor %}#}
                    {#                                </select>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil3">{% translate 'Дата начала' %}</label>#}
                    {#                                <input class="form-control" name="start_date" id="change_id_halil3" type="date">#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil1">{% translate 'Дата конца' %}</label>#}
                    {#                                <input class="form-control" name="end_date" id="change_id_halil1" type="date">#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil2">{% translate 'Трансфер' %}</label>#}
                    {#                                <select class="form-control" data-live-search="true" name="transfer" id="transfer"#}
                    {#                                        required="required">#}
                    {#                                    <option value="group">Групповой</option>#}
                    {#                                    <option value="individual">Индивидуальный</option>#}
                    {##}
                    {#                                </select>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil3">{% translate 'Авиалинии' %}</label>#}
                    {#                                <select class="form-control" data-live-search="true" name="airline" id="airline"#}
                    {#                                        required="required">#}
                    {#                                    {% for airline in airlines %}#}
                    {#                                        <option value="{{ airline.id }}">{{ airline }}</option>#}
                    {#                                    {% endfor %}#}
                    {##}
                    {#                                </select>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-2 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil3">{% translate 'Авиалинии' %}</label>#}
                    {#                                <select class="form-control" data-live-search="true" name="airline" id="airline"#}
                    {#                                        required="required">#}
                    {#                                    {% for airline in airlines %}#}
                    {#                                        <option value="{{ airline.id }}">{{ airline }}</option>#}
                    {#                                    {% endfor %}#}
                    {##}
                    {#                                </select>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil3">{% translate 'Аренда машины ?' %}</label>#}
                    {#                                <select name="have_a_car" class="form-control" id="have_a_car">#}
                    {#                                    <option value="yes">{% translate 'Да' %}</option>#}
                    {#                                    <option value="false">{% translate 'Нет' %}</option>#}
                    {#                                </select>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-3 col-md-2 col-sm-12">#}
                    {#                            <div class="form-group">#}
                    {#                                <label for="change_id_halil3">{% translate 'Аренда лодки ?' %}</label>#}
                    {#                                <select name="have_a_boat" class="form-control" id="have_a_boat">#}
                    {#                                    <option value="yes">{% translate 'Да' %}</option>#}
                    {#                                    <option value="false">{% translate 'Нет' %}</option>#}
                    {#                                </select>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="col-lg-12 col-md-12 col-sm-12">#}
                    {#                            <div class="formbtn">#}
                    {#                                <input type="submit" class="btn" value="Найти">#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                </form>#}
                </div>
                <div class="bformBox" style="margin-top: 30px; background: none; color: white; width: 60%">
                    <h3 style="color: white; margin-top: 30px;">
                        <a href="tel:+998662327770" style="color: white;font-size: 38px;" >+998662327770</a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="main__image">
            <img src="{{ main_image.image.url }}" alt="main-image">
        </div>
    </div>
    <div class="section-form">
        <div class="container">
            <!-- Form Section -->

        </div>
        <!-- Top Destination Section -->
        <div class="parallax-section" id="places">
            <div class="container">
                <div class="section-title">
                    <h3>{{ best_tours_text.title }}</h3>
                    <p>{{ best_tours_text.content }}</p>
                </div>
                <div class="destinationList" style="margin-top: 100px;">
                    <div class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for tour in hot_tours %}
                                    <li class="splide__slide hotel-splide">
                                        <div class="hotel-splide-body">
                                            <div class="hotel-splide-body__image ibg">
                                                <img src="{{ tour.face_image.url }}" alt="">
                                            </div>
                                            <div class="hotel-splide-body-content">
                                                <div class="hotel-splide-body-content-row">
                                                    <h3 class="hotel-splide-body-content__title">
                                                        {{ tour.global_title }}
                                                    </h3>
                                                    <div class="hotel-splide-body-content__contact">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        {{ tour.start_date }} - {{ tour.end_date }}
                                                    </div>
                                                </div>
                                                <div class="hotel-splide-body-content__contact"
                                                     style="font-weight: bold;">
                                                    {{ tour.mini_title }}
                                                </div>
                                                <div class="hotel-splide-body-content__price">
                                                    {% if tour.start_sum != 0 %}
                                                        {% translate 'От' %}
                                                        {{ tour.start_sum }}
                                                    {% else %}
                                                        {{ tour.amount }}
                                                    {% endif %}
                                                    {% if tour.currency == 'sum' %}
                                                        {% translate 'Сум' %}
                                                    {% else %}
                                                        $
                                                    {% endif %}
                                                </div>
                                                <a href="{% url 'tour-detail' tour.id %}">
                                                    <div class="hotel-splide-body-content__btn btn">{% translate 'Перейти' %}</div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>


                <div id="about">
                    <div class="container">
                        <div class="section-title">
                            <h3>{% translate 'Визовая' %} <span> {% translate 'Поддержка' %}</span></h3>
                        </div>
                        <div class="about-desc">
                            <div class="row">
                                <div class="col-md-7" style="font-size: 26px;">
                                    {{ visa.text }}
                                    <br>
                                    <a style="font-size: 26px;font-weight: 700; color: #00A8FF"
                                       href="tel:+998882897770">+998 88
                                        289
                                        77 70</a>
                                </div>
                                <div class="col-md-5">
                                    <div class="postimg"><img src="{{ visa.image.url }}"></div>
                                </div>
                            </div>
                        </div>
                        {#            <ul class="circleList row">#}
                        {#                <li class="col-md-3 col-sm-4">#}
                        {#                    <div class="cricle"><i class="fa fa-car" aria-hidden="true"></i></div>#}
                        {#                    <div class="title">Special Activities</div>#}
                        {#                    <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus#}
                        {#                        nunc.</p>#}
                        {#                </li>#}
                        {#                <li class="col-md-3 col-sm-4">#}
                        {#                    <div class="cricle"><i class="fa fa-users" aria-hidden="true"></i></div>#}
                        {#                    <div class="title">Travel Arrangements</div>#}
                        {#                    <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus#}
                        {#                        nunc.</p>#}
                        {#                </li>#}
                        {#                <li class="col-md-3 col-sm-4">#}
                        {#                    <div class="cricle"><i class="fa fa-tags" aria-hidden="true"></i></div>#}
                        {#                    <div class="title">Private Guide</div>#}
                        {#                    <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus#}
                        {#                        nunc.</p>#}
                        {#                </li>#}
                        {#                <li class="col-md-3 col-sm-4">#}
                        {#                    <div class="cricle"><i class="fa fa-tags" aria-hidden="true"></i></div>#}
                        {#                    <div class="title">Location Manager</div>#}
                        {#                    <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus#}
                        {#                        nunc.</p>#}
                        {#                </li>#}
                        {#            </ul>#}
                    </div>
                </div>

                {#    <div class="servicesbox bg1" style="margin-top: 20px;">#}
                {#        <div class="container">#}
                {#            <div class="row">#}
                {#                <div class="col-md-6">#}
                {#                    <h3>{{ about_us.title }}</h3>#}
                {#                    <div class="ctoggle">#}
                {#                        <p>{{ about_us.content }}</p>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-md-6">#}
                {#                    <div class="videobox">#}
                {#                        <iframe src="https://player.vimeo.com/video/54802209" width="100%" height="320" frameborder="0"#}
                {#                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>#}
                {#                    </div>#}
                {#                </div>#}
                {#            </div>#}
                {#        </div>#}
                {#    </div>#}

                <div id="team" class="parallax-section">
                    <div class="container">

                        <!-- Dection Title -->
                        <div class="section-title">
                            <h3><span>{% translate 'Наши специалисты' %} </span></h3>
                            <p></p>
                        </div>
                        <div class="row">
                            <div class="destinationList">
                                <div class="row">
                                    {% for worker in workers %}
                                        <div class="col-md-3 col-sm-6">
                                            <div class="team-thumb">
                                                <div class="thumb-image ibg"><img src="{{ worker.image.url }}" alt="">
                                                </div>
                                                <h4>{{ worker.title }}</h4>
                                                <h5>{{ worker.role }}</h5>
                                                <div class="contct"><i class="fa fa-phone" aria-hidden="true"></i>
                                                    +998662327770
                                                </div>
                                                <div class="contct"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                    aviata.travelagency@mail.ru
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                    {#                        <div class="col-lg-3 col-md-4 col-sm-12">#}
                                    {#                            <div class="locwrap">#}
                                    {#                                <div class="imgbox ibg"><img src="{% static 'images/IMG_0086.jpg' %}" alt=""/></div>#}
                                    {#                                <h3>{% translate 'Рано' %}</h3>#}
                                    {#                                <p>{% translate 'Туроператор направление Дубай' %}</p>#}
                                    {#                                <div class="contct"><i class="fa fa-phone" aria-hidden="true"></i> <a#}
                                    {#                                        href="tel:+998882897770">+998882897770</a></div>#}
                                    {#                                <div class="contct"><i class="fa fa-envelope-o" aria-hidden="true"></i>#}
                                    {#                                    aviata.travelagency@mail.ru#}
                                    {#                                </div>#}
                                    {##}
                                    {#                            </div>#}
                                    {#                        </div>#}
                                    {#                        <div class="col-lg-3 col-md-4 col-sm-12">#}
                                    {#                            <div class="locwrap">#}
                                    {#                                <div class="imgbox ibg"><img src="{% static "images/IMG_0113.jpg" %}" alt=""/></div>#}
                                    {#                                <h3>{% translate 'Мехдине' %}</h3>#}
                                    {#                                <p>{% translate 'Туроператор напрвление турция' %}</p>#}
                                    {#                                <div class="contct"><i class="fa fa-phone" aria-hidden="true"></i> <a#}
                                    {#                                        href="tel:+998882897770">+998882897770</a></div>#}
                                    {#                                <div class="contct"><i class="fa fa-envelope-o" aria-hidden="true"></i>#}
                                    {#                                    aviata.travelagency@mail.ru#}
                                    {#                                </div>#}
                                    {##}
                                    {#                            </div>#}
                                    {#                        </div>#}
                                    {#                        <div class="col-lg-3 col-md-4 col-sm-12">#}
                                    {#                            <div class="locwrap">#}
                                    {#                                <div class="imgbox ibg"><img src="{% static "images/IMG_0096.jpg" %}" alt=""/></div>#}
                                    {#                                <h3>{% translate 'Нигора' %}</h3>#}
                                    {#                                <p>{% translate 'Главный туроператор' %}</p>#}
                                    {#                                <div class="contct"><i class="fa fa-phone" aria-hidden="true"></i> <a#}
                                    {#                                        href="tel:+998882897770">+998882897770</a></div>#}
                                    {#                                <div class="contct"><i class="fa fa-envelope-o" aria-hidden="true"></i>#}
                                    {#                                    aviata.travelagency@mail.ru#}
                                    {#                                </div>#}
                                    {##}
                                    {#                            </div>#}
                                    {#                        </div>#}
                                    {#                        <div class="col-lg-3 col-md-4 col-sm-12">#}
                                    {#                            <div class="locwrap">#}
                                    {#                                <div class="imgbox ibg"><img src="{% static "images/DSC__1390.jpg" %}" alt=""/></div>#}
                                    {#                                <h3>{% translate 'Мехдине' %}</h3>#}
                                    {#                                <p>{% translate 'Туроператор направление турция' %}</p>#}
                                    {#                                <div class="contct"><i class="fa fa-phone" aria-hidden="true"></i> <a#}
                                    {#                                        href="tel:+998882897770">+998882897770</a></div>#}
                                    {#                                <div class="contct"><i class="fa fa-envelope-o" aria-hidden="true"></i>#}
                                    {#                                    aviata.travelagency@mail.ru#}
                                    {#                                </div>#}
                                    {#                                <ul class="list-inline social">#}
                                    {#                                    <li><a href="javascript:void(0);" class="bg-twitter"><i class="fa fa-twitter"#}
                                    {#                                                                                            aria-hidden="true"></i></a>#}
                                    {#                                    </li>#}
                                    {#                                    <li><a href="javascript:void(0);" class="bg-facebook"><i class="fa fa-facebook"#}
                                    {#                                                                                             aria-hidden="true"></i></a>#}
                                    {#                                    </li>#}
                                    {#                                    <li><a href="javascript:void(0);" class="bg-linkedin"><i class="fa fa-linkedin"#}
                                    {#                                                                                             aria-hidden="true"></i></a>#}
                                    {#                                    </li>#}
                                    {#                                </ul>#}
                                    {#                            </div>#}
                                    {#                        </div>#}
                                    {#                        <div class="col-lg-3 col-md-4 col-sm-12">#}
                                    {#                            <div class="locwrap">#}
                                    {#                                <div class="imgbox ibg"><img src="{% static "images/DSC_1405-.jpg" %}" alt=""/></div>#}
                                    {#                                <h3>{% translate 'Роксана' %}</h3>#}
                                    {#                                <p>{% translate 'Туроператор' %}</p>#}
                                    {#                                <div class="contct"><i class="fa fa-phone" aria-hidden="true"></i> <a#}
                                    {#                                        href="tel:+998882897770">+998882897770</a></div>#}
                                    {#                                <div class="contct"><i class="fa fa-envelope-o" aria-hidden="true"></i>#}
                                    {#                                    aviata.travelagency@mail.ru#}
                                    {#                                </div>#}
                                    {#                                <ul class="list-inline social">#}
                                    {#                                    <li><a href="javascript:void(0);" class="bg-twitter"><i class="fa fa-twitter"#}
                                    {#                                                                                            aria-hidden="true"></i></a>#}
                                    {#                                    </li>#}
                                    {#                                    <li><a href="javascript:void(0);" class="bg-facebook"><i class="fa fa-facebook"#}
                                    {#                                                                                             aria-hidden="true"></i></a>#}
                                    {#                                    </li>#}
                                    {#                                    <li><a href="javascript:void(0);" class="bg-linkedin"><i class="fa fa-linkedin"#}
                                    {#                                                                                             aria-hidden="true"></i></a>#}
                                    {#                                    </li>#}
                                    {#                                </ul>#}
                                    {#                            </div>#}
                                    {#                        </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#    <style>#}
            {#        .bottom_map {#}
            {#            width: 100%;#}
            {#            height: 400px;#}
            {#            border: none;#}
            {#            display: block;#}
            {#            pointer-events: none;#}
            {#        }#}
            {#    </style>#}
            {#    <!-- Google Map Section -->#}
            {#    <div style="margin-top: 50px;">#}
            {#        <iframe class="bottom_map"#}
            {#                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.9786414311816!2d66.96769477464574!3d39.67269502600006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d18ec28fbab89%3A0xfed3029db7a5af6!2zMTQg0JTQsNKz0LHQtdC0INC50Z7Qu9C4LCBTYW1hcnFhbmQsINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1638394610705!5m2!1sru!2s"#}
            {#                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>#}
            {#    </div>#}

            <!-- Contact Section -->
            {#        <div id="contact">#}
            {#            <div class="container">#}
            {##}
            {#                <!-- Dection Title -->#}
            {#                <div class="section-title">#}
            {#                    <h3>{% translate 'Связаться с нами' %}</h3>#}
            {#                    <p>{{ contact_us_text.content }}</p>#}
            {#                </div>#}
            {##}
            {#                <!-- CONTACT FORM HERE -->#}
            {#                <div class="row">#}
            {#                    <div class="col-md-8">#}
            {#                        <div class="contact-form">#}
            {#                            <form id="contact-form" class="row"#}
            {#                                  action="{% url 'home' %}" method="POST">#}
            {#                                {% csrf_token %}#}
            {#                                <div class="col-md-6 col-sm-6">#}
            {#                                    <input type="text" class="form-control" name="name"#}
            {#                                           placeholder="{% translate 'Имя' %}"#}
            {#                                           required>#}
            {#                                </div>#}
            {#                                <div class="col-md-6 col-sm-6">#}
            {#                                    <input type="email" class="form-control" name="email"#}
            {#                                           placeholder="{% translate 'Email' %}" required>#}
            {#                                </div>#}
            {##}
            {#                                <div class="col-md-12 col-sm-12">#}
            {#                                <textarea class="form-control" rows="5" name="content"#}
            {#                                          placeholder="{% translate 'Сообщения' %}"></textarea>#}
            {#                                </div>#}
            {#                                <div class="col-md-12">#}
            {#                                    <button id="submit" type="submit" class="form-control"#}
            {#                                            name="submit">{% translate 'Отправить' %}</button>#}
            {#                                </div>#}
            {#                            </form>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                    <div class="col-md-4">#}
            {#                        <div class="contact-now">#}
            {#                            <div class="contact"><span><i class="fa fa-home"></i></span>#}
            {#                                <div class="information"><strong>{% translate 'Офисы продаж' %}</strong>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <div class="contact"><span><i class="fa fa-home"></i></span>#}
            {#                                <div class="information"><strong>{% translate 'Адресс :' %}</strong>#}
            {#                                    <p>{% translate 'ул. Дагбитская 14' %}</p>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <!-- Contact Info -->#}
            {#                            <div class="contact"><span><i class="fa fa-envelope"></i></span>#}
            {#                                <div class="information"><strong>Email:</strong>#}
            {#                                    <p><a href="mailto:aviata.travelagency@mail.ru">aviata.travelagency@mail.ru</a></p>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <!-- Contact Info -->#}
            {#                            <div class="contact"><span><i class="fa fa-phone"></i></span>#}
            {#                                <div class="information"><strong>{% translate 'Позвоните нам !' %}</strong>#}
            {#        а                            <a href="tel:+998662327770">+998662327770</a>#}
            {#                                    <a href="tel:+998882897770">+998882897770</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <!-- Contact Info -->#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}

            <!-- Clients Logo-->
            {#    <div class="our-clients">#}
            {#        <div class="container">#}
            {##}
            {#            <!-- Section Title -->#}
            {#            <div class="section-title">#}
            {#                <h3>Our <span>Partners</span></h3>#}
            {#                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc#}
            {#                    dui auctor ipsum, sed posuere eros sapien id quam. Maecenas odio nisi, efficitur eget.</p>#}
            {#            </div>#}
            {#            <div class="owl-clients">#}
            {#                <div class="item"><img src="images/client-logo4.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo2.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo3.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo3.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo2.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo3.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo3.png" alt=""></div>#}
            {#                <div class="item"><img src="images/client-logo2.png" alt=""></div>#}
            {#            </div>#}
            {#        </div>#}
            {#    </div>#}
            <!-- Clients Logo end-->
            <style type="text/css">
                input[type="date"]::-webkit-calendar-picker-indicator {
                    background: transparent;
                    bottom: 0;
                    color: transparent;
                    cursor: pointer;
                    height: auto;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: auto;
                }
            </style>
        </div>
    </div>
{% endblock %}