{% extends 'layout/base.html' %}
{% load i18n static poll_extras %}
{% block content %}

    <div class="innercms">
        <div class="container">

            <!-- Blog start -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Blog List start -->
                    <div class="blogWraper">
                        <div class="blogList blogdetailbox">
                            <div class="postimg"><img src="{{ tour.face_image.url }}" alt="Blog Title"></div>
                            <div class="post-header margin-top30">
                                <h4><a>{{ tour.global_title }}</a></h4>
                                <div class="postmeta" style="color: black; font-size: 20px;">
                                    {% translate 'Дата начала' %}: <a>  {{ tour.start_date }}</a>
                                    <br>
                                    <br>
                                    {% translate 'Дата конца' %}: <a>  {{ tour.end_date }}</a>
                                    <br>
                                    <br>
                                    {% translate 'Авиалиния' %}: <a>  {{ tour.airline }}</a>
                                    <br>
                                    <br>
                                    {% translate 'Откуда' %}: <a>  {{ tour.froms }}</a>
                                    <br>
                                    <br>
                                    {% translate 'Куда' %}: <a>  {{ tour.to }}</a>
                                    <br>
                                    <br>
                                    {% translate 'Трансфер' %}: <a>  {{ tour.get_transfer_display }}</a>
                                    <br>
                                    <br>
                                    <form method="POST" action="https://checkout.paycom.uz"><input type="hidden"
                                                                                                   name="merchant"
                                                                                                   value="6286474272a6247c42008c84"/>
                                        <input type="hidden" name="amount" value="{{ tour.amount|multiple:100|multiple:11081 }}"/>


                                        <button type="submit" style="cursor: pointer;
                                    border: 1px solid #ebebeb;
                                    border-radius: 6px;
                                    background: linear-gradient(to top, #f1f2f2, white);
                                    width: 103px;
                                    height: 54px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;"><img style="width: 82px;
                                    height: 48px;
                                    " src="http://cdn.payme.uz/buttons/button_medium_RU.svg"></button>


                                    </form>
                                </div>
                            </div>

                            <br>
                            <div style="color: black">{{ tour.content|safe }} </div>

                            {% for day in tour.days.all %}
                                <p>
                                <h2>{% translate 'День' %} {{ day.number }}</h2>
                                {{ day.content|safe }}
                                </p>
                            {% endfor %}



                            {#                            <blockquote class="text-left-align">#}
                            {#                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu nulla eget nisl#}
                            {#                                    dapibus finibus. Maecenas quis sem vel neque rhoncus dignissim. Ut et eros rhoncus,#}
                            {#                                    gravida tellus auctor, lobortis diam. In eu porta purus, sit amet pulvinar eros.#}
                            {#                                    Cras accumsan dignissim convallis. Curabitur aliquam efficitur diam ac pellentesque.#}
                            {#                                    Fusce ac leo est.</p>#}
                            {#                                <span class="author-name"> <a href="tour-detail.html#.">Jhon Deneairo</a></span>#}
                            {#                            </blockquote>#}


                            {#                            <ul class="media-list">#}
                            {#                                <!-- COMMENTS -->#}
                            {#                                <li class="media">#}
                            {#                                    <div class="media-left"><a href="tour-detail.html#."> <img#}
                            {#                                            class="media-object img-responsive" src="images/coment-avatar-1.jpg" alt="">#}
                            {#                                        <br>#}
                            {#                                    </a></div>#}
                            {#                                    <div class="media-body">#}
                            {#                                        <h6 class="media-heading">Larsen Mortin<span> Dec 10, 2016 - 12.00 AM</span>#}
                            {#                                        </h6>#}
                            {#                                        <p>You would see the biggest gift would be from me and the card attached would#}
                            {#                                            say thank you for being a friend! Doin' it our way. Nothin's gonna turn us#}
                            {#                                            back now. Straight ahead. </p>#}
                            {#                                        <a href="tour-detail.html#." class="btn btn-yellow raply"><i class="fa fa-reply"#}
                            {#                                                                                                     aria-hidden="true"></i></a>#}
                            {#                                    </div>#}
                            {#                                </li>#}
                            {##}
                            {#                                <!-- COMMENTS -->#}
                            {#                                <li class="media margin-left80">#}
                            {#                                    <div class="media-left"><a href="tour-detail.html#."> <img#}
                            {#                                            class="media-object img-responsive" src="images/coment-avatar-2.jpg"#}
                            {#                                            alt="..."> </a></div>#}
                            {#                                    <div class="media-body">#}
                            {#                                        <h6 class="media-heading">Jhon Kennadi <span> Dec 10, 2016 - 12.00 AM</span>#}
                            {#                                        </h6>#}
                            {#                                        <p>Taque ipsa quae abe illo inventore veritatis et quasi architecto beatae vitae#}
                            {#                                            dicta sunt explicabo nemosala enim ipsam volupitatem quia voluptas sit#}
                            {#                                            aspernatur aut odit.</p>#}
                            {#                                        <a href="tour-detail.html#." class="btn btn-yellow raply"><i class="fa fa-reply"#}
                            {#                                                                                                     aria-hidden="true"></i></a>#}
                            {#                                    </div>#}
                            {#                                </li>#}
                            {#                                <!-- COMMENTS -->#}
                            {#                                <li class="media margin-left80">#}
                            {#                                    <div class="media-left"><a href="tour-detail.html#."> <img#}
                            {#                                            class="media-object img-responsive" src="images/coment-avatar-4.jpg"#}
                            {#                                            alt="..."> </a></div>#}
                            {#                                    <div class="media-body">#}
                            {#                                        <h6 class="media-heading">Jhon Kennadi <span> Dec 10, 2016 - 12.00 AM</span>#}
                            {#                                        </h6>#}
                            {#                                        <p>Taque ipsa quae abe illo inventore veritatis et quasi architecto beatae vitae#}
                            {#                                            dicta sunt explicabo nemosala enim ipsam volupitatem quia voluptas sit#}
                            {#                                            aspernatur aut odit.</p>#}
                            {#                                        <a href="tour-detail.html#." class="btn btn-yellow raply"><i class="fa fa-reply"#}
                            {#                                                                                                     aria-hidden="true"></i></a>#}
                            {#                                    </div>#}
                            {#                                </li>#}
                            {##}
                            {#                                <!-- COMMENTS -->#}
                            {#                                <li class="media">#}
                            {#                                    <div class="media-left"><a href="tour-detail.html#."> <img#}
                            {#                                            class="media-object img-responsive" src="images/coment-avatar-3.jpg"#}
                            {#                                            alt="..."> </a></div>#}
                            {#                                    <div class="media-body">#}
                            {#                                        <h6 class="media-heading">Rock Lancer <span>Dec 10, 2016 - 12.00 AM</span></h6>#}
                            {#                                        <p>Taque ipsa quae abe illo inventore veritatis et quasi architecto beatae vitae#}
                            {#                                            dicta sunt explicabo nemosala enim ipsam volupitatem quia voluptas sit#}
                            {#                                            aspernatur aut odit aut fugite.</p>#}
                            {#                                        <a href="tour-detail.html#." class="btn btn-yellow raply"><i class="fa fa-reply"#}
                            {#                                                                                                     aria-hidden="true"></i></a>#}
                            {#                                    </div>#}
                            {#                                </li>#}
                            {#                            </ul>#}


                            <div class="image-carousel">
                                {% for image in tour.images.all %}
                                    <div class="image-carousel__item item-carousel">
                                        <img src="{{ image.image.url }}" alt="" class="item-carousel__image">
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="comments margin-top30">
                                <!-- LEAVE COMMENTS -->
                                <div class="commnetsfrm">
                                    <h4>{% translate 'Свяжитесь с нами !' %}</h4>
                                    <form method="post" action="{% url 'tour-detail' tour.id %}">
                                        {% csrf_token %}
                                        <ul class="row">
                                            <li class="col-sm-6">
                                                <label>
                                                    <input type="text" class="form-control" name="name"
                                                           placeholder="{% translate 'Имя' %}">
                                                </label>
                                            </li>
                                            <li class="col-sm-6">
                                                <label>
                                                    <input type="text" class="form-control" name="name"
                                                           placeholder="{% translate 'Email' %}">
                                                </label>
                                            </li>
                                            <li class="col-sm-12">
                                                <label>
                                                <textarea class="form-control"
                                                          placeholder="{% translate 'Ваше сообщение' %}"></textarea>
                                                </label>
                                            </li>
                                            <li class="col-sm-12">
                                                <button type="submit"
                                                        class="btn margin-top-20">{% translate 'Отправить' %}</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}