{% extends 'layout/base.html' %}
{% load i18n poll_extras %}
{% block content %}
    <div class="pageTitle">
        <div class="container page-container">
{#            <h1 class="page-heading" style="">{% translate 'Страны' %}</h1>#}
        </div>
        <div class="page-img ibg">
            <img src="{{ header.image.url }}" alt="">
        </div>
        <div class="overlay"></div>
    </div>

    <div class="innercms">
        <div class="container">

            <!-- Blog start -->
            <div class="row">
                <div class="col-md-8">
                    <!-- Blog List start -->
                    <div class="blogWraper">
                        <ul class="blogList">
                            {% for tour in tours %}
                                <li>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="postimg"><img src="{{ tour.face_image.url }}"
                                                                      alt="Tour Image {{ forloop.counter }}"></div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="post-header">
                                                <h4><a>{{ tour.global_title }}</a></h4>
                                                <div class="postmeta">
                                                    {% translate 'Из' %} : <span>{{ tour.froms }} </span>
                                                    {% translate 'В' %} : <a>{{ tour.to }}</a></div>
                                                <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>
                                                    {{ tour.start_date }} - {{ tour.end_date }}
                                                </div>
                                            </div>
                                            <p>{{ tour.mini_title }}</p>
                                            <a class="readmore" href="{% url 'tour-detail' tour.id %}">{% translate 'Перейти' %}<i
                                                    class="fa fa-caret-right"
                                                    aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Pagination -->
                    <div class="pagiWrap">
                        <nav aria-label="Page navigation" class="pagiwrap">
                            <ul class="pagination justify-content-center">

                                {% for page in  page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a
                                            class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Side Bar -->
                    <div class="sidebar">
                        <!-- Search -->
                        <div class="widget">
                            <h5 class="widget-title">{% translate 'Найти' %}</h5>
                            <div class="search">
                                <form method="get">
                                    <input type="text" class="form-control" placeholder="Найти" name="search"
                                           value="{% if search %}{{ search }}{% endif %}">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categories -->
                        {% for country in countries %}
                            <div class="widget">

                                <h5 class="widget-title">{{ country.title }}</h5>

                                <ul class="categories">
                                    {% for city in country.to.all %}
                                        <li><a href="{% url 'tour-list' %}?to={{ city.id }}">{{ city.title }}</a></li>
                                    {% endfor %}
                                </ul>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}